.jumpy {
  > span {
    display: inline-block;
    margin: 0px 5px;
    @media (max-width: 480px) {
      margin: 0px 2px;
    }
    animation: jumpy 1.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite
      alternate;
  }
}

@keyframes jumpy {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}
