.mainCharacter {
  //   padding-top: 800px;
  width: 100%;
  aspect-ratio: 10 /17;
  position: relative;
  transform: translateY(25%);
  transition: transform 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &.laydown {
    transform: translateY(25%) rotate(-90deg) scale(0.5);
    @media (max-width: 500px) {
      transform: translateY(25%) rotate(-90deg) scale(0.35);
    }

    @media (max-width: 360px) {
      transform: translateY(25%) rotate(-90deg) scale(0.3);
    }
  }

  &.walk {
    transform: translateX(-30%) translateY(30%) scale(0.5);
    @media (max-width: 500px) {
      transform: translateX(-10%) translateY(45%) scale(0.5);
    }
  }
}
