.background {
  background-image: url("/assets/bubbles/bubble-background.png");
  background-size: 1500px 1500px;
  background-position: 0 0;
  background-repeat: repeat;
  animation: backgroundAnimation linear 5s infinite;
  transition: transform 0.5s, opacity 0.5s;
  @media (max-width: 480px) {
    background-size: 750px;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1500px;
    @media (max-width: 480px) {
      background-position: 0 -750px;
    }
  }
}

.paper {
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: translate(65%, -43.4%);
  opacity: 0;
  &.active {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

.neko {
  filter: drop-shadow(2px 4px 6px #eeeeee);
  transform: translate(-10%, 62.5%) rotate(15deg);
  transform-origin: 67.5% 12.5%;
  animation: nekoAnimation 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite
    alternate;
}

@keyframes nekoAnimation {
  0% {
    transform: translate(-10%, 62.5%) rotate(15deg);
  }
  100% {
    transform: translate(-10%, 62.5%) rotate(-15deg);
  }
}
